---
---

<div class="grid grid-cols-4 gap-8 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-fuchsia rounded-lg">
  <div class="rounded-lg shadow-lg bg-[#10b981]">HTML</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">CSS</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">JAVASCRIPT</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">JAVA</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">React.js</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">Angular</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">AWS</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">Docker</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">SQL</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">PHP</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">TypeScript</div>
  <div class="rounded-lg shadow-lg bg-[#10b981]">Kubernates</div>
</div>
