---
---

<div class="grid grid-cols-4 gap-8 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-fuchsia rounded-lg">
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">HTML</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">CSS</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">JAVASCRIPT</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">JAVA</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">React.js</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">Angular</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">AWS</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">Docker</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">SQL</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">PHP</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">TypeScript</div>
  <div class="rounded-lg shadow-lg bg-[#10b981] p-10">Kubernates</div>
</div>
