---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#006e2c] via-[#298532] to-[#539c39] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        UniqOne
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer. Docs on Development</p>
  </div>
  <div>
    <p class="mb-5">
      Hello! Welcome To My Website here you will get guids on Web Development and other stuffs. 
      <a href={"https://github.com/prthings/UniqOne"} target="_blank">UniqOne</a>. 
      This blog is used to help people to easy way to get things on internet.
      lets Start 
    </p>
    <div class="rounded-lg bg-[#10b981] text-center m-4 text-white"><a href="/blog">Learn More</a></div>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-4 px-4">Learn From Below Technologies</code>
    </p>
  </div>
</section>
